/* Dropdown menu */

.navbar .dropdown-menu {

  background-color: #f9f9f9;

  border: none;

  border-radius: 0;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}
.navbar {

  margin-bottom: 0;

}

.container h1 {

  margin-top: 70px;

}



.navbar .dropdown-menu a {

  color: #333;

  padding: 12px 16px;

  text-decoration: none;

  display: block;

}

.navbar .dropdown-menu a:hover {

  background-color: #f1f1f1;

}

/* Change color of dropdown menu arrow */

.navbar .dropdown-menu::after {

  content: '';

  display: inline-block;

  border-left: 6px solid transparent;

  border-right: 6px solid transparent;

  border-top: 6px solid #555;

  position: absolute;

  top: -6px;

  right: 10px;

}

/* Style the active menu item */

.navbar .active {

  background-color: #4CAF50;

  color: #fff !important;

}

.navbar .active:hover {

  background-color: #4CAF50;

  color: #fff !important;

}

/* Change color of menu bar when dropdown menu is open */

.navbar .open > a {

  background-color: #4CAF50 !important;

  color: #fff !important;

}

.navbar .open > a:hover {

  background-color: #4CAF50 !important;

  color: #fff !important;

}


  
